:root {
    --color-brand: #819B57;
    --color-brand-dark: #465929;
    --color-dark: #31261A;
    --color-light: #FAF4EA;
    --color-brown-light: #A18268;
    --color-light-gray: #CFCFBC;
    
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;